<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Getting Started</title>
    <style>
        body {
            /* background: url('https://wallpapercave.com/wp/wp4390828.jpg') center/cover no-repeat; */
            font-family: 'Arial', sans-serif;
            color: #fff; /* Set text color to white */
            background: linear-gradient(to right, #3490dc, #6574cd); /* Gradient background */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .text-highlight {
            font-size: 3rem;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            letter-spacing: 2px;
        }

        .animated-text {
            animation: fadeIn 1s ease-in-out;
            letter-spacing: 1px;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        /* Button Styles */
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
        }

        .button-primary {
            color: #fff;
            background-color: #38a169;
        }

        .button-primary:hover {
            background-color: #2f854e;
        }

        .button-secondary {
            color: #38a169;
            background-color: #fff;
            border: 2px solid #38a169;
        }

        .button-secondary:hover {
            color: #2f854e;
            border-color: #2f854e;
        }
    </style>
</head>
<body>

    <div>
        <p class="text-highlight animated-text">Choose your Validation</p>
    </div>

    <div>
        <a class="button button-primary" href="/signupcombo">Sign-Up</a>
        <a class="button button-secondary" href="/login">Sign-In</a>
    </div>

</body>
</html>
